@charset "URF-8";
@keyframes slider{

0% {
	left: 0%;
}

20% {
	left: 0%;
}

25%{
	left: -100%;
}

45% {
	left: -100%;
}

50% {
	left: -200%;
}

70% {
	left: -200%;
}

75% {
	left: -300%;
}

95% {
	left: -300%;
}

100%  {
	left: -400%;
}

}

.principal{
	width: 1024px;
	height: 800px;
	margin: -30px auto 0px auto;
	background-image: url(http://photos1.blogger.com/blogger/6523/775/1600/Sunrise%20102105.jpg);
	background-size:cover;
	box-shadow:0px 0px 10px #999999;
}

header{
	width: 1024;
	height: 180px;
	background-color: #55ae92;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	border-bottom:1px #666666 solid;
}

h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60px;
	color: #000;
	text-align:center;
	line-height:225px;
	text-shadow:2px 2px 1px #CCCCCC;
}

nav{
	width: 1024px;
	height: 60px;
	float:left;
	background-color: #fab280;
	position:relative;
	
}
nav#menu ul{
	border-bottom: 1px solid #666666;
	text-align:center;
}

nav#menu li{
	display:inline-block;
}

nav#menu a{
	display: block;
	padding: 15px;
	padding-top:4px;
	color:#000;
	text-decoration:none;
	font:bold 22px Arial;
}
span.line{
	display:block;
	position:absolute;
	width:1024px;
	height:5px;
	background:#F88334;
	bottom: 0px;
}

section{
	width: 1024px;
	height: 530px;
	width:100%;
	float:left;
}

footer {
	background-color: #55AE92;
	text-align: center;
	height: 30px;
	width: 1024px;
	line-height: 30px;
	width:100%;
	float:left;
}
h2#home {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	color: #FFF;
	text-align: left;
	text-indent: 50px;
	font-weight: lighter;
}
h2#vender {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	color: #FFF;
	text-align: left;
	text-indent: 50px;
	font-weight: lighter;
}
h2#compra {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	color: #FFF;
	text-align: left;
	text-indent: 50px;
	font-weight: lighter;
}
section#conteudo {
	width: 1024px;
	height: 530px;
}
img{
	width: 800px;
	height: 400px;
	padding-left: 80px;
	}
	
figcaption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FFF;
	text-align: left;
	font-weight: lighter;
	background-color: #CCC;
	margin-right: 200px;
	margin-left: 500px;
}

.principal section #promoa {
	background-image:url(file://C|/Users/mateu/Desktop/NegocioCerto/imagens/img_2550.jpg);
	float: left;
	height: 400px;
	width: 300px;
	margin-left:100px;
}

#slider {
	overflow: hidden;
}

#slider figure img {
	width: 800px;
	height:400px;
	float: left;
	margin-right: 160px;
	margin-top: 20px 
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 15s slider infinite;
}
#comprador {
	background-color: #CCC;
	height: 450px;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #FFF;
	text-align: center;
}
#prachabuy {
	background-image: url(file:///C|/Users/mateu/Desktop/NegocioCerto/imagens/img_2550.jpg);
	height: 400px;
	width: 300px;
}
