.principal{
	width: 1024px;
	height:640px;
	background-color: lightblue;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
header{
	width: 1024;
	height: 200px;
	background-color: #5cbd5c;
}
.logo{
	height: 100px;
	width: 200px;
	position: absolute;
	top: 50px;
}

